* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

.container {
    width: 1200px;
    margin: auto;
    background: #fff;
}


.header {
    background: #0077cc;
    color: white;
    text-align: center;
    padding: 25px;
}

.header h1 {
    margin-bottom: 10px;
}


.topmenu {
    background: #333;
}

.topmenu ul {
    list-style: none;
    overflow: hidden;
}

.topmenu ul li {
    float: left;
}

.topmenu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

.topmenu ul li a:hover {
    background: #0077cc;
}

/* Side Menu */

.sidebar {
    float: left;
    width: 20%;
    background: #eeeeee;
    min-height: 900px;
    padding: 20px;
}

.sidebar h3 {
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 12px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #0077cc;
}

/* Content */

.content {
    float: left;
    width: 80%;
    padding: 20px;
}

/* Product Card */

.product {
    float: left;
    width: 30%;
    margin: 1.5%;
    border: 1px solid #ddd;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background: white;
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.product h3 {
    margin: 10px 0;
}

.price {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #005fa3;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th {
    background: #0077cc;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: center;
}

/* Footer */

.footer {
    clear: both;
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Clear Float */

.clear {
    clear: both;
}

/* Responsive */

@media(max-width:768px) {

    .container {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .product {
        width: 47%;
    }

}

@media(max-width:500px) {

    .product {
        width: 96%;
    }

    .topmenu ul li {
        float: none;
    }

}